.avatarImg img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.profileCard {
  padding: 100px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
}
.profileInfo h2 {
  font-size: 18px;
  font-family: FTR;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
.profileInfo span {
  font-size: 16px;
  font-weight: 400;
}