.avatarImg img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.profileCard {
  margin-top: 1rem;
  padding: 100px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.66);
  border: none;
}

.profileInfo h2 {
  font-size: 18px;
  font-family: FTR;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

.profileInfo span {
  font-size: 16px;
  font-weight: 400;
}